# Basic data types in Python:
Python has several built-in data types and structures that are commonly used in programming and data analysis. Here are some of the most important ones:
1. Numbers  
Python has two main types of numbers: integers (int), floating-point numbers (float), and complex.
2. String  
A string is a sequence of characters, enclosed in quotes (either single or double). Strings can be used to represent text or any other sequence of characters.
3. Boolean  
A boolean is a value that is either True or False. Booleans are often used to represent logical expressions, such as whether a statement is true or false.

## 1. Type Numbers:  
- integers  
Used to represent whole numbers, positive or negative.
- float  
Used to represent decimal numbers, positive or negative.
- complex

In [1]:
a = 200

In [2]:
type(a)

int

In [3]:
b = 200.0

In [4]:
type(b)

float

The difference between integer and float is that float contains a decimal point.

In [5]:
c = 200.1

In [6]:
type(c)

float

The value of complex numbers is expressed in the form of x + yj, where x represents the real number and yj represents the imaginary number.

In [7]:
d = 2.5 + 6j

In [8]:
type(d)

complex

## 2.Type String:
A string is a sequence of Unicode characters declared with single or double quotes. Multi-line strings can be indicated with three single (''') or double (""") quotes, or by using \n.

In [44]:
a = "Group 1"

In [45]:
print(a)

Group 1

In [46]:
a = 'Group 1'

In [47]:
print(a)

Group 1

In [24]:
type(a)

str

In [25]:
"jum'at"

"jum'at"

In [26]:
print("jum'at")

jum'at

In [48]:
a = """Group 1:
1. Aisyah
2. Difa
3. Irfan
4. Salsa"""

In [49]:
print(a)

Group 1:
1. Aisyah
2. Difa
3. Irfan
4. Salsa

In [50]:
a = "Group 1: \n1. Aisyah \n2. Difa \n3. Irfan \n4. Salsa"

In [51]:
print(a)

Group 1:
1. Aisyah
2. Difa
3. Irfan
4. Salsa

## 3. Type Boolean

In [67]:
2 > 5

False

In [31]:
2 == 5

False

NB:  
= is used to store variables  
== is used to compare calculations

In [32]:
2 <= 2

True

In [70]:
2 != 3

True

NB:  
!= is used to denote "not equal to"

# Other data types in Python include:  
a. List    
b. Tuple  
c. Set  
d. Dictionary

## a. List  
It is a type of ordered collection data (ordered sequence, accessible by index), and is one of the commonly used variables in Python. Similar, but not identical to arrays in other programming languages. The difference is that elements in a Python list do not have to have the same data type.

In [25]:
a = [6, 20.24, "MyEduSolve"]

In [26]:
print(a)

[6, 20.24, 'MyEduSolve']

In [27]:
type(a)

list

Ordered data means each data within it can be accessed with an index starting from 0.

In [28]:
a[0]

6

In [29]:
a[1]

20.24

In [30]:
a[2]

'MyEduSolve'

Slicing

In [31]:
print(a[1])

20.24

In [32]:
print(a[0])

6

In [39]:
type(a[0])

int

In [40]:
type(a[1])

float

In [41]:
type(a[2])

str

The elements of a list data type can be changed.

In [42]:
# Changing the first element to 4
a[0] = 7

In [43]:
print(a[0])

7

***

## B. Tuple

Tuple is a type of list whose elements cannot be changed. Generally, tuples are used for data that is write-once, and can be executed more quickly. Tuples are defined with brackets [ ] and elements separated by commas.

In [1]:
a = (1, "Group 1", "Class B", 4)

In [2]:
print (a)

(1, 'Group 1', 'Class B', 4)

In [4]:
type(a)

tuple

Slicing Tuple

In [5]:
print(a[1])

Group 1

In [6]:
print(a[0:2])

(1, 'Group 1')

The element of a tuple data type cannot be changed

In [7]:
a[0]="Group 1 Class B"

TypeError: 'tuple' object does not support item assignment

***

## c. Set and Union

The SET data type is a type that stores unique elements. Numbers in elements in SET can be of type Vary, but cannot be Null This data type cannot perform slicing.

Union combines two data into one without repetition. Intersection is data that combines data that is repeated in both data.

In [9]:
a = {1,1,1,5,5,5,7,7,7,7,7}

In [10]:
type(a)

set

In [11]:
print(a)

{1, 5, 7}

This type cannot use slicing

In [12]:
print(a[1])

TypeError: 'set' object is not subscriptable

Union

In [13]:
b = {1,2,4,5,8}

In [14]:
print(b)

{1, 2, 4, 5, 8}

In [15]:
a.union(b)

{1, 2, 4, 5, 7, 8}

Intersection

In [16]:
a.intersection(b)

{1, 5}

***

## d. Dictionary

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates. Dictionaries can be used to store small to large data. To access the data, we must know the key. In Python, dictionaries are defined with braces and appendages:
1. Each element of a key-value pair is separated by a comma (,)
2. Key and value are separated by a colon (:)
3. Key and Value can be any type of variable/object.

In [20]:
a = {"class": "B", "Group": 1}

In [21]:
type (a)

dict

In [22]:
a["class"]

'B'

In [23]:
a["Group"]

1

Nested Dictionary

In [18]:
b = {"Verivery": {"Lead Vocal": "Gyehyeon",
                  "Main Dancer": "Yongseung"}
                 }

In [19]:
b['Verivery']['Lead Vocal']

'Gyehyeon'

In [24]:
type(b)

dict